<aside class="w-80 bg-white dark:bg-gray-800 md:block min-h-screen flex flex-col">

    <div class="p-4 flex items-center gap-3">
        <svg width="50px" height="50px" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <path style="fill:#fabe2c;fill-opacity:1;stroke-width:.264583" d="M45.49 62.853h-18.1l9.05-15.675z" transform="matrix(1.38122 0 0 .79744 -37.83 -25.122)"/>
            <path d="M55.476 30.63h-12.59l12.59 12.59z" style="fill:#fed843;stroke-width:.263354" transform="translate(-30.083 -17.914)scale(.99293)"/>
            <path style="fill:#5ab267;fill-opacity:1;stroke-width:.264583" d="M45.49 62.853h-18.1l9.05-15.675z" transform="matrix(-1.38122 0 0 -.79744 87.832 75.122)"/>
            <path d="M27.89 47.228H15.3l12.59 12.589Z" style="fill:#8cd96b;fill-opacity:1;stroke-width:.263354" transform="rotate(180 26.347 42.197)scale(.99293)"/>
            <path style="fill:#00d7df;fill-opacity:1;stroke-width:.264583" d="M45.49 62.853h-18.1l9.05-15.675z" transform="matrix(0 -1.38122 .79744 0 -25.121 87.832)"/>
            <path d="M25.31 30.63H12.721l12.59 12.59z" style="fill:#99eff2;fill-opacity:1;stroke-width:.263354" transform="rotate(-90 16.109 34.023)scale(.99293)"/>
            <path style="fill:#ff5f96;fill-opacity:1;stroke-width:.264583" d="M45.49 62.853h-18.1l9.05-15.675z" transform="matrix(0 1.38122 -.79744 0 75.122 -37.83)"/>
            <path d="M32.256 13.097h-12.59l12.59 12.589Z" style="fill:#ff8fb8;fill-opacity:1;stroke-width:.263354" transform="rotate(90 28.765 21.739)scale(.99293)"/>
          </svg>
        <h1 class="text-2xl font-bold"><span class="text-primary-700">Silk</span>LMS</h1>
    </div>


    <dashboard-menu [items]="items()"></dashboard-menu>
   




</aside>